body {
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to top left, #28b487, #7dd56f);
}
h1 {
    font-family: sans-serif;
    font-size: 50px;
    line-height: 1.3;
    width: 100%;
    padding: 30px;
    text-align: center;
    color: white;
}

/* CSS for styling the modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
}

.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    background-color: red;
    border-radius: 20%;
}

.txt{
    color: red;
    text-decoration: underline;
    text-decoration-color: aliceblue;
    text-decoration-skip-ink: none;
    font-style: italic;
}


.y {
    color:red
}

.t {
    color:rgb(1, 22, 142)
}

.g {
    color:rgb(0, 134, 31)
}

.btn{
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    height: 70px;
}

.btn:active{
    background-color: #28b487;
}